@()

<!DOCTYPE html>

<html>
    <head>
        <title>Chess</title>
		<script src='@routes.Assets.at("javascripts/vendor/snap.js")'></script>
		<script src='@routes.Assets.at("javascripts/vendor/knockout.js")'></script>
		<link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    </head>
	<body>
		<!-- form action="/login" method="GET">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Login">
		</form -->
		<script src='@routes.Assets.at("javascripts/chessboard.js")'></script>
    </body>
</html>
